@font-face {
  font-family: "UKIJ Ekran";
  font-weight: normal;
  src: url(/fonts/UKIJEkran.eot?8093e269cce6b8770a4b063b82e22c10);
  /* IE */
  src: local("UKIJ Ekran"), local("Alpida Unicode System"), local("Alp Ekran"), url(/fonts/UKIJEkran.ttf?c5666b5803138f3b9f7bcd9cbce37179) format("TrueType");
}

/* non-IE */

@font-face {
  font-family: 'Alp Ekran';
  src: url(/fonts/UKIJEkran.eot?8093e269cce6b8770a4b063b82e22c10) format("embedded-opentype"), url(/fonts/UKIJEkran.ttf?c5666b5803138f3b9f7bcd9cbce37179) format("truetype");
}

@font-face {
  font-family: "UKIJ Ekran";
  font-weight: normal;
  src: url(/fonts/UKIJEkran.eot?8093e269cce6b8770a4b063b82e22c10);
  src: local("UKIJ Ekran"), url(/fonts/UKIJEkran.ttf?c5666b5803138f3b9f7bcd9cbce37179) format("TrueType");
}

* {
  font-family: UKIJ Ekran;
  font-size: 14px;
}

